<h1>Previous Projects</h1>
<ul class="links">
    {%- for project in collections.project -%}
        <a href="{{project.url}}">
            <li>{{ project.data.title }}</li>
        </a>
    {%- endfor -%}
</ul>
