<h1>Previous Projects</h1>
<ul class="links">
    {%- for project in collections.project -%}
        <a href="{{project.url}}">
            <li>{{ project.data.title }}</li>
        </a>
    {%- endfor -%}
</ul>
<!-- 
<li><a href="/projects/project-1">Project 1</a></li>
<li><a href="/projects/project-2">Project 2</a></li>
<li><a href="/projects/project-3">Project 3</a></li>
<li><a href="/index">Home</a></li> -->