---
title: Mark's Testy Site
layout: 'base.njk'
---
    <h1>{{title}}</h1>
    <ul class="links">
        <li><a href="./projects/project-1.md">Projects</a></li>
        <li>Contact</li>
        <li>Home</li>
    </ul>

